.flexbox-container {
   display: flex;
    background-color: #f7df02;
  
    height: 800px;
    
    flex-wrap: wrap;
}


.flexbox-item {
    width: 200px;
    margin: 10px;
    border: solid #333 5px;
    background-color: #ddd;
}
.flexbox-items {
    width: 200px;
    margin: 10px;
    border: solid black 5px;
    background-color: green;
}
.flexbox-item-1 {

    display: flex;
    justify-content: center;
 flex-grow:1;
}

.flexbox-item-2 {
   
 flex-grow:1;
}

.flexbox-item-3 {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;
}