tr {
    height: 100px;
}
td {
    width: 100px;
    border: solid 1px black;
    text-align: center;
}
table{
    border:solid 1px black;
    border-collapse: collapse;
    background-color: #d3d3d4;
    
}
th{
       border: solid 1px black;
}
th[scope="col"] {
  background-color: #0b0775;
  color: #ffffff;
}
#colOne{
    background-color: green;
}
row:nth-child(3) {
  background-color: pink;
}