body {
    background-color: pink;
      display:flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(72 122 180 / .2);
    padding: 20px;
    border-radius: 20px;
    height: 40%
}

section {
    height: 75%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    height: 75%;
}


